.Navbar {
    background-color: #303030;
    border-bottom: 2px solid #024796;
}

.Navbar h1 {
    display: inline;
}

.Navbar div {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.NavbarItem button {
    background-color: #024796;
    color: white;
    font-size: 32px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.NavbarItemActive button {
    background-color: #024796;
    color: greenyellow;
    font-size: 32px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.NavbarClock {
    font-size: 34px;
}