.CurrentDayWeather {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    font-size: 40px;
}

.CurrentDayWeather button {
    background-color: #024796;
    border-color: #303030;
    font-size: 40px;
}