.CurrentWeather {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
    background-color: #FF8F8FA1;
    width: 40%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #FF8F8F;
    padding-left: 10px;
    padding-top: 25px;
}

.ForecastWeather {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    display: inline-block;
    background-color: #FF8F8FA1;
    width: 40%;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #FF8F8F;
    padding: 10px;
}

.CurrentDayWeather {
    font-size: 32px;
}

.CurrentWeather ul {
    list-style-type: none;
}